# Site Settings
title: MK Portfolio
description: Personal portfolio and tech blog by Masato Kikukawa
baseurl: "/mk-portfolio"
url: "https://stackbeedash.github.io"

# Theme - Cayman (GitHub Pages supported theme)
theme: jekyll-theme-cayman

# Build settings
markdown: kramdown
plugins:
  - jekyll-feed
  - jekyll-seo-tag

# Exclude from processing
exclude:
  - Gemfile
  - Gemfile.lock
  - README.md
  - vendor
  - _pages
  - _projects
